# Default ATLAS.ti files
/images/atlasti_report_02.png
/images/background_body.jpg
/images/bg02.gif
/images/bgGrid.gif
/images/bg_darktheme_topnav.gif
/images/bg_darktheme_visual.jpg
/images/close_w7.png
/images/close_w7_small.png
/images/closexp.png
/images/contentbg.gif
/images/dr_bgbody.gif
/images/dr_bgbody2.gif
/images/dr_bgcode.gif
/images/dr_bgheader.gif
/images/dr_bglbl.gif
/images/dr_grdnt_gray.gif
/images/dr_grdnt_red.png
/images/gradient_gray.png
/images/gradient_gray_01.gif
/images/gradient_gray_02.gif
/images/gradient_gray_03.gif
/images/grdnt_red.png
/images/logo_white.jpg
/images/logo_white.png
/images/logo_white_xml.png
/images/lupe02.png
/images/mark.png
/images/mark_white.png
/images/rk_contentbg.gif
/images/rk_headerbg.gif
/images/shade_gray.gif
/images/shadeactive_gray.gif
/images/shadeactive_green.gif
/images/shadeactive_teal.gif
/images/shadeactive_teal.jpg
/images/squareBlack.gif
/images/squareOrange.gif
/images/squareRed.gif
/images/squareTeal.gif
/images/sr_ background_body.jpg
/images/sr_ background_body_2.jpg
/images/sr_background_container.jpg
/images/sr_navigation.jpg
/images/tr_bgcode.gif
/images/uparrow.png
/images/zero_bg_menu_04.png
/images/zero_bg_menu_05.png
/images/zero_bg_menu_06.png
/images/zero_dots_07_lighter.png
/styles/styles_v20.css
/styles/switch_darktheme.css
/styles/switch_deepred.css
/styles/switch_redking.css
/styles/switch_simplyred.css
/styles/switch_transparentia.css
/styles/tabcontent.css
/_index_main.xsl.inc
/_shared.xsl.inc
/listreport.xsl
/simple-1.xsl
/simple-2.xsl
/simple-3.xsl
/v70_code_links.xsl
/v70_code_quote_author.xsl
/v70_codebook.xsl
/v70_entities.xsl
/v70_families_memos.xsl
/v70_families_pds.xsl
/v70_hyperlinks.xsl
/v70_list_PDfamilies.xsl
/v70_list_codeFamilies.xsl
/v70_list_codes.xsl
/v70_list_memoFamilies.xsl
/v70_list_memos.xsl
/v70_list_pds_quotes.xsl
/v70_memo_links.xsl
/v70_memo_multi_links.xsl
/v70_memo_tables.xsl
/v70_netView.xsl
/v70_pds_codes.xsl
/v70_print_quotes_in_full.xsl
/v70_printquotes_table.xsl
/v70_raw-xml.xsl
/v70_statssimple.xsl
/v70_switchCSS.xsl
/v70_table_memos.xsl
/v70_tagcloud.xsl
/v70_tagcloud_color.xsl

# Generated HTML files
*.html
*.xhtml

*.bak

# Generated PDF files
*.pdf
/nbproject/private/
/XML.iml
/XML.xpr
/.idea/
