/*
 REF: https://codepen.io/chriswrightdesign/pen/cmanI
*/

@import url(http://fonts.googleapis.com/css?family=Dosis:300,500);
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Dosis, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: #233a7a;
}

h1,
h2 {
    font-size: 16pt;
    font-weight: 500;
}

div.logo {
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
}

#logo-img {
    margin: auto;
    width: 150px;
    height: 150px;
}

#logo-text {
    margin: auto;
}

h1.title,
h2.title {
    text-align: center;
    margin: 0;
    color: #233a7a
}

h1.title {
    font-size: 40pt
}

h2.title {
    font-size: 30pt
}

thead p {
    font-weight: 500;
}

tbody p {
    font-weight: 300;
}

.print-only {
    display: none;
}

td.rowStyle0 {
    background-color: #b3ebd8;
    vertical-align: middle;
}

td.rowStyle1 {
    background-color: #e4f8f1;
    vertical-align: middle;
}

table.printableTable {
    width: 100%;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

table.printableTable th {
    padding: 0 0 0 .5em;
    text-align: left;
    font-weight: 500;
    background: #fee3e7;
}

table.printableTable td {
    padding: 0 1.0em 0 1.5em;
}

.botao {
    color: #233a7a;
    font-size: 1.5em;
    padding: .2em 1em;
    background: #fff2d2;
    border: 1px solid #1f628d;
    text-decoration: none;
}

.botao:hover {
    background: #ffd058;
    text-decoration: none;
}

.linhaBotao {
    line-height: 3em;
    vertical-align: middle;
    text-align: center;
    font-size: .8em;
}

.heading-primary {
    font-size: 2em;
    padding: 1em;
    text-align: center;
}

.accordion dl {
    /*border: 1px solid #ddd;*/
}

.accordion dd {
    background-color: #fff;
    font-size: 1em;
}

.accordion p {
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.accordion {
    position: relative;
    background-color: #fff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 0;
}

.accordionTitle {
    background-color: #fff2d2;
    text-align: left;
    font-weight: 500;
    padding: 1em;
    display: block;
    text-decoration: none;
    color: #233a7a;
    -webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
    border-left: 1px solid #2c3e50;
    border-right: 1px solid #2c3e50;
    border-top: .5px solid #2c3e50;
    border-bottom: .5px solid #2c3e50;
}

.accordionTitle:before {
    content: "+";
    font-size: 2em;
    line-height: .5em;
    padding-right: 1em;
    float: left;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transform-origin: 15% 80% 0px;
}

.accordionTitle:hover {
    background-color: #ffd058;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    background-color: #ffd058;
}

.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.accordionItem {
    height: auto;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}

@media screen and (min-width:48em) {
    .accordionItem {
        -webkit-transition: max-height .5s;
        transition: max-height .5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
    max-height: auto;
}

.animateIn {
    -webkit-animation: accordionIn .45s normal ease-in-out both 1;
    animation: accordionIn .45s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut .45s alternate ease-in-out both 1;
    animation: accordionOut .45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.9) rotateX(-60deg);
        transform: scale(.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.9) rotateX(-60deg);
        transform: scale(.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(.9) rotateX(-60deg);
        transform: scale(.9) rotateX(-60deg);
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(.9) rotateX(-60deg);
        transform: scale(.9) rotateX(-60deg);
    }
}

@media print {
    @page {
        size: auto;
        margin: 2cm;
    }
    div.logo {
        width: 100%;
        height: 23cm;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        /*border: 3px solid green;*/
    }
    div#logo-img {
        display: flex;
        width: 300px;
        height: 300px;
        /*border: 3px solid orange;*/
    }
    div#logo-img img {
        display: none;
        width: 300px;
        height: 300px;
        /*border: 3px solid deeppink;*/
    }
    div#logo-img:after {
        content: url(../images/logo_escolas_capa.png);
        display: block;
        width: 300px;
        height: 300px;
        /*border: 3px solid red;*/
    }
    div#logo-text {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        /*border: 3px solid blue;*/
    }
    h1.title {
        /*border: 3px solid cadetblue;*/
        /*font-weight: 500;*/
    }
    h2.title {
        margin-top: 1cm;
        /*border: 3px solid limegreen;*/
        /*font-weight: 500;*/
    }
    .accordion dt a,
    a,
    body,
    p {
        /*font-weight: 300;*/
        font-size: 10pt;
        color: #000;
    }
    h1,
    h2 {
        color: #000;
        font-weight: 500;
        page-break-after: avoid;
    }
    h1.heading-primary {}
    .divisor {
        page-break-before: always;
        width: 100%;
        height: 23cm;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .print-only {
        display: block;
        font-size: 2em;
        text-align: center;
    }
    .accordionTitle {
        border: 0;
    }
    .accordion dd,
    .accordion dt a,
    .accordionTitle:hover,
    table.printableTable th,
    td.rowStyle0,
    td.rowStyle1 {
        background-color: #fff;
    }
    table.printableTable {
        page-break-before: avoid;
        border: none;
        border-collapse: collapse;
    }
    table.printableTable th {
        padding: 0;
    }
    .accordionTitle:before {
        content: "";
        font-size: 20pt;
        line-height: auto;
        float: left;
    }
    .accordion dt a {
        text-align: center;
        font-weight: 500;
        padding: .5em;
        page-break-after: avoid !important;
        font-size: 16px;
    }
    .accordion dd {
        -webkit-margin-start: 0px;
        width: 100%;
        padding: 0em;
        line-height: auto;
    }
    .accordion tbody p {
        margin: 0px;
        padding-left: .5em;
    }
    .accordion thead p {
        margin: .1em;
    }
    thead p {
        font-weight: 500;
    }
    tbody p {
        border-left: 1px solid #000;
        font-weight: 300;
    }
    dt {
        page-break-before: always;
        page-break-after: avoid;
    }
    dt.resumo {
        /*page-break-before: avoid !important;*/
    }
    dd {
        page-break-before: avoid;
        page-break-inside: always;
        page-break-after: always;
    }
    dd.resumo {
        page-break-after: avoid !important;
    }
    .accordionItem {
        display: table;
    }
    th {
        border-bottom: 1px solid #000;
    }
    table.resumo th {
        border-bottom: 0px;
    }
    .printableTable tbody th p {
        border-left: 0;
        padding: 1px;
        margin-left: 0px;
    }
    td.linhaBotao {
        display: none;
    }
}